<template>
    <ul class="countdown">
        <li v-if="days > 0 && !isNaN(days)">
            <p class="digit">{{ days | twoDigits }}</p>
            <p class="text">days</p>
        </li>

        <li :style="{width: days > 0 ? '16.6667%' : '25%'}" v-if="!isNaN(hours)">
            <p class="digit">{{ hours | twoDigits }}</p>
            <p class="text">hours</p>
        </li>

        <li :style="{width: days > 0 ? '16.6667%' : '25%'}" v-if="!isNaN(minutes)">
            <p class="digit">{{ minutes | twoDigits }}</p>
            <p class="text">Min</p>
        </li>

        <li :style="{width: days > 0 ? '16.6667%' : '25%'}" v-if="!isNaN(seconds)">
            <p class="digit">{{ seconds | twoDigits }}</p>
            <p class="text">Sec</p>
        </li>
    </ul>
</template>

<script>
import Vue from 'vue'
Vue.filter('twoDigits', (value) => {
    if ( value.toString().length <= 1 ) {
        return '0'+value.toString()
    }
    return value.toString()
});
export default {
    props: ['deadline'],
    data() {
        return {
            now: Math.trunc((new Date()).getTime() / 1000),
            date: null
        }
    },
    watch: {
        deadline: function(value) {
            this.date = Math.trunc(Date.parse(value) / 1000);
        }
    },
    mounted() {
        this.date = Math.trunc(Date.parse(this.deadline) / 1000);
        setInterval(() => {
            this.now = Math.trunc((new Date()).getTime() / 1000)
        }, 1000)
    },
    updated() {
        if(this.seconds <= 0
        && this.minutes <= 0
        && this.hours <= 0
        && this.days <= 0) {
            this.$emit('ended')
        }
    },
    computed: {
        seconds() {
            return Math.trunc(this.date - this.now) % 60
        },
        minutes() {
            return Math.trunc((this.date - this.now) / 60) % 60
        },
        hours() {
            return Math.trunc((this.date - this.now) / 60 / 60) % 24
        },
        days() {
            return Math.trunc((this.date - this.now) / 60 / 60 / 24)
        }
    }
}
</script>
