<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu></user-menu>
                    <v-flex xs10 sm9 md10>
                        <v-card flat>
                            <v-toolbar flat dark>
                                <v-toolbar-title>Compte</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                        <v-card flat>
                            <v-tabs
                                    centered
                                    v-model="tab"
                            >
                                <v-tabs-slider color="blue"></v-tabs-slider>

                                <v-tab v-for="tab in tabs" :key="tab.title">
                                    {{tab.title}}
                                </v-tab>
                            </v-tabs>

                            <v-tabs-items v-model="tab">
                                <v-tab-item v-for="tab in tabs" :key="tab.title">
                                    <v-card flat v-if="tab.title == 'Adresses'">
                                        <v-card-text>
                                            <v-container grid-list-xs>
                                                <v-layout wrap>
                                                    <v-flex lg1 offset-lg3>
                                                        <v-text-field
                                                                label="N°"
                                                                :error-messages="register.errors.road_number.messages"
                                                                :error="register.errors.road_number.error"
                                                                v-model="user.road_number"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg5>
                                                        <v-text-field
                                                                label="Rue"
                                                                :error-messages="register.errors.road_name.messages"
                                                                :error="register.errors.road_name.error"
                                                                v-model="user.road_name"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg3></v-flex>
                                                    <v-flex lg2 offset-lg3>
                                                        <v-text-field
                                                                label="Code Postal"
                                                                :error-messages="register.errors.postal_code.messages"
                                                                :error="register.errors.postal_code.error"
                                                                v-model="user.postal_code"
                                                                @keyup.native="resolvePostalCode()"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg4>
                                                        <v-autocomplete
                                                                label="Ville"
                                                                :error-messages="register.errors.city.messages"
                                                                :error="register.errors.city.error"
                                                                v-model="user.city"
                                                                :rules="[() => !!user.city || 'This field is required']"
                                                                :items="$store.getters.getCities"
                                                                required>
                                                        </v-autocomplete>
                                                    </v-flex>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-autocomplete
                                                                ref="country"
                                                                :rules="[() => !!user.country || 'This field is required']"
                                                                :items="countries"
                                                                v-model="user.country"
                                                                label="Pays"
                                                                placeholder="Sélectionnez.."
                                                                required
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-card>
                                    <v-card flat v-if="tab.title == 'Mot de passe'">
                                        <v-card-text>
                                            <v-container grid-list-xs>
                                                <v-layout wrap>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-text-field
                                                                type="password"
                                                                label="Current password"
                                                                v-model="password.current"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-text-field
                                                                type="password"
                                                                label="New password"
                                                                v-model="password.new"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-text-field
                                                                type="password"
                                                                label="Confirmation"
                                                                v-model="password.confirmation"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-card>
                                    <v-card flat v-if="tab.title == 'Profile'">
                                        <v-card-text>
                                            <v-container grid-list-xs>
                                                <v-layout wrap>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-radio-group
                                                                style="margin-left:10px;"
                                                                v-model="user.sex"
                                                                row
                                                                :rules="[() => !!user.sex || 'This field is required']"
                                                                :error-messages="register.errors.sex.messages"
                                                                :error="register.errors.sex.error">
                                                            <v-radio label="Femme" value="female"/>
                                                            <v-radio label="Homme" value="male"/>
                                                        </v-radio-group>
                                                    </v-flex>
                                                    <v-flex lg3></v-flex>
                                                    <v-flex lg3 offset-lg3>
                                                        <v-text-field
                                                                label="Nom"
                                                                :error-messages="register.errors.lastname.messages"
                                                                :error="register.errors.lastname.error"
                                                                v-model="user.lastname"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg3>
                                                        <v-text-field
                                                                label="Prénom"
                                                                :error-messages="register.errors.firstname.messages"
                                                                :error="register.errors.firstname.error"
                                                                v-model="user.firstname"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg6 offset-lg3>
                                                        <v-text-field
                                                                type="email"
                                                                label="Email"
                                                                :error-messages="register.errors.email.messages"
                                                                :error="register.errors.email.error"
                                                                :rules="emailRules"
                                                                v-model="user.email"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg3 offset-lg3>
                                                        <v-menu
                                                                ref="birthdateRef"
                                                                :close-on-content-click="false"
                                                                v-model="register.birthdateMenu"
                                                                :nudge-right="40"
                                                                :return-value.sync="birthdate"
                                                                lazy
                                                                transition="scale-transition"
                                                                offset-y
                                                                full-width
                                                                min-width="290px"
                                                        >
                                                            <v-text-field
                                                                    slot="activator"
                                                                    v-model="user.birthdate"
                                                                    hint="DD/MM/YYYY"
                                                                    label="Date de naissance"
                                                                    @blur="birthdate = parseDate(register.birthdateFormatted)"
                                                                    readonly
                                                            ></v-text-field>
                                                            <v-date-picker v-model="birthdate" no-title scrollable>
                                                                <v-spacer></v-spacer>
                                                                <v-btn flat color="primary" @click="register.birthdateMenu = false">Cancel</v-btn>
                                                                <v-btn flat color="primary" @click="$refs.birthdateRef.save(birthdate);">OK</v-btn>
                                                            </v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                    <v-flex lg3>
                                                        <v-text-field
                                                                label="Téléphone"
                                                                :error-messages="register.errors.phone.messages"
                                                                :error="register.errors.phone.error"
                                                                v-model="user.phone"
                                                                required>
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex lg8></v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>
                            </v-tabs-items>

                            <v-form v-model="register.valid">
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" type="submit" @click.native="saveProfile()"><v-icon>refresh</v-icon>&nbsp;&nbsp;&nbsp; Update</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import UserMenu from './Menu'

    export default {
        name       : "account",
        data() {
            return {
                tab  : null,
                tabs : [
                    {title : 'Profile', icon : 'person_pin'},
                    {title : 'Adresses', icon : 'map_marker'},
                    {title : 'Mot de passe', icon : 'person_pin'},
                ],

                displayCities : null,
                countries     : ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia & Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Cayman Islands', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D Ivoire', 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'French West Indies', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyz Republic', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Pierre & Miquelon', 'Samoa', 'San Marino', 'Satellite', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St Kitts & Nevis', 'St Lucia', 'St Vincent', 'St. Lucia', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', "Timor L'Este", 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks & Caicos', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands (US)', 'Yemen', 'Zambia', 'Zimbabwe'],
                isDisplay     : this.display,
                isRegister    : false,
                emailRules    : [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                birthdate     : null,
                password: {
                    current: '',
                    new: '',
                    confirmation:''
                },
                register      : {
                    valid              : false,
                    sex                : '',
                    firstname          : '',
                    birthdateMenu      : false,
                    birthdateFormatted : null,
                    lastname           : '',
                    email              : '',
                    password           : '',
                    phone              : '',
                    road_number        : '',
                    road_name          : '',
                    city               : '',
                    postal_code        : '',
                    country            : '',
                    error              : null,
                    errors             : {
                        sex         : {error : false, messages : []},
                        firstname   : {error : false, messages : []},
                        lastname    : {error : false, messages : []},
                        email       : {error : false, messages : []},
                        password    : {error : false, messages : []},
                        phone       : {error : false, messages : []},
                        road_number : {error : false, messages : []},
                        road_name   : {error : false, messages : []},
                        city        : {error : false, messages : []},
                        country     : {error : false, messages : []},
                        postal_code : {error : false, messages : []}
                    }
                }
            }
        },
        watch      : {
            user(val) {
                this.register.email       = val.email;
                this.register.lastname    = val.lastname;
                this.register.firstname   = val.firstname;
                this.register.road_number = val.road_number;
                this.register.road_name   = val.road_name;
                this.register.city        = val.city;
                this.register.postal_code = val.postal_code;
                this.register.country     = val.country;
                this.getPostalCode(this);
            }
        },
        created() {
            this.register.postal_code = this.user.postal_code;
            this.getPostalCode(this);
        },
        computed   : {
            ...mapGetters({
                user      : 'profile',
                getCities : 'getCities'
            })
        },
        methods    : {
            ...mapActions({
                save          : 'save',
                getPostalCode : 'getPostalCode'
            }),
            resolvePostalCode() {
                this.register.postal_code = this.user.postal_code;
                this.getPostalCode(this);
            },
            saveProfile() {
                this.save(this);
            },
        },
        components : {
            UserMenu
        }
    }
</script>
<style scoped>

</style>