<template>
   <div style="margin-top: 48px">
       <p class="text-center">{{ error.length > 0 ? error : success }}</p>
   </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name : "activation",
    data() {
        return {
            error: '',
            success: ''
        }
    },
    methods: {
        ...mapActions({
            'activation': 'activation'
        })
    },
    mounted() {
        this.activation({
            ctx: this,
            data: {
                email: this.$route.params.email,
                key: this.$route.params.key
            }
        })
    },
}
</script>
