<template>
    <vue-recaptcha
            ref="recaptcha"
            @verify="onCaptchaVerified"
            @expired="onCaptchaExpired"
            theme="dark"
            style="width:304px;margin: 30px auto 0 auto"
            sitekey="6LfnZmgUAAAAAIOZsS1NbHWovh2PoFWoR-2ZBFVe">
    </vue-recaptcha>
</template>
<script>
    import VueRecaptcha from 'vue-recaptcha';
    export default {
        name : "captcha",
        components : {
            VueRecaptcha
        },
        methods: {
            onCaptchaVerified(token) {
                this.$emit('change', token);
            },
            onCaptchaExpired() {
                this.$refs.recaptcha.reset();
            }
        }
    }
</script>
