<template>
    <v-container grid-list-xl >
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu></user-menu>
                    <v-flex xs10 sm9 md10>
                        <v-card flat>
                            <v-toolbar flat>
                                <v-toolbar-title>Dashboard</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import UserMenu from './Menu'
    export default {
        name : "dashboard",
        components: {
            UserMenu
        }
    }
</script>
<style scoped>
</style>