<template>
    <div>
        <v-dialog v-model="isDisplay" max-width="500px">
            <v-card v-if="!isRegister">
                <v-layout row wrap>
                    <v-flex>
                        <v-card>
                            <v-form v-model="login.valid">
                                <v-card-title>
                                    <span class="headline">Connexion</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-xs>
                                        <v-layout wrap>
                                            <div v-if="login.error" class="red--text text-center error-message">
                                                {{login.error}}
                                            </div>
                                            <br>
                                            <br>
                                            <v-flex xs12>
                                                <v-text-field type="email" label="Email" v-model="login.email" autofocus required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12>
                                                <v-text-field label="Password" v-model="login.password" type="password" required></v-text-field>
                                            </v-flex>
                                            <v-switch
                                                    label="Remember me"
                                                    v-model="login.remember"
                                            ></v-switch>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="blue" flat @click.native="resetRegister();isRegister = true;">Inscription</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="grey" flat @click.native="updateDisplay()">Cancel</v-btn>
                                    <v-btn color="blue" type="submit" flat @click.prevent="submitLogin()">Login</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-card>
            <v-card v-if="isRegister">
                <v-layout row wrap v-if="register.success">
                    <v-flex>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Félicitations !</span>
                            </v-card-title>
                            <v-layout wrap>
                                <v-flex xs12 green>
                                    <br>
                                    <p class="text-center">Votre compte est désormais créé!<br>Un email d'activation vous a été envoyé à l'adresse:<br><b>{{register.email}}</b>
                                    </p>
                                </v-flex>
                            </v-layout>
                            <v-card-actions>
                                <v-btn color="blue" flat @click.native="isRegister = false">Connexion</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="grey" flat @click.native="updateDisplay()">Cancel</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout v-else row wrap>
                    <v-flex>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Créer un compte</span>
                            </v-card-title>
                            <v-form v-model="register.valid">
                                <v-card-text>
                                    <v-container grid-list-xs>
                                        <v-layout wrap>
                                            <div v-if="register.error" class="red--text text-center error-message">
                                                {{register.error}}
                                            </div>
                                            <v-flex xs12>
                                                <v-text-field
                                                        autofocus
                                                        type="email"
                                                        label="Email"
                                                        :rules="emailRules"
                                                        :error-messages="register.errors.email.messages"
                                                        :error="register.errors.email.error"
                                                        v-model="register.email"
                                                        required>
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs6>
                                                <v-text-field
                                                        label="Mot de passe"
                                                        :error-messages="register.errors.password.messages"
                                                        :error="register.errors.password.error"
                                                        v-model="register.password"
                                                        :rules="passwordRules"
                                                        type="password"
                                                        required>
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs6>
                                                <v-text-field
                                                        label="Confirmation"
                                                        :error-messages="register.errors.confirmation.messages"
                                                        :error="register.errors.confirmation.error"
                                                        v-model="register.confirmation"
                                                        type="password"
                                                        :rules="confirmationRules"
                                                        required>
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs12>
                                                <captcha @change="onCaptchaTokenChange"></captcha>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="blue" flat @click.native="isRegister = false">Connexion</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="grey" flat @click.native="updateDisplay()">Cancel</v-btn>
                                    <v-btn color="blue" flat type="submit" @click.prevent="submitRegister()">Register</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import Captcha from './Captcha'
    export default {
        name       : "login-modal",
        components: {
            Captcha
        },
        model      : {
            prop  : 'display',
            event : 'change'
        },
        data() {
            return {
                recaptchaKey      : '6LfnZmgUAAAAAIOZsS1NbHWovh2PoFWoR-2ZBFVe',
                isDisplay         : this.display,
                isRegister        : false,
                emailRules        : [
                    v => !!v || 'E-mail is required.',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                passwordRules     : [
                    v => !!v || 'The password is required.'
                ],
                confirmationRules : [
                    v => !!v || 'The confirmation is required.',
                    v => (v == this.register.password) || 'The confirmation doesn\'t match'
                ],
                login             : {
                    valid    : false,
                    remember: false,
                    email    : '',
                    password : '',
                    error    : null
                },
                birthdate         : null,
                register          : {
                    token        : null,
                    success      : false,
                    valid        : false,
                    email        : '',
                    password     : '',
                    confirmation : '',
                    error        : null,
                    errors       : {
                        email        : {error : false, messages : []},
                        password     : {error : false, messages : []},
                        confirmation : {error : false, messages : []},
                    }
                },
                captchaTries: 0
            }
        },

        watch   : {
            display(value) {
                this.isDisplay = value;
            }
        },
        methods : {
            resetRegister() {
                this.register = {
                    success      : false,
                    valid        : false,
                    email        : '',
                    password     : '',
                    confirmation : '',
                    error        : null,
                    errors       : {
                        email        : {error : false, messages : []},
                        password     : {error : false, messages : []},
                        confirmation : {error : false, messages : []},
                    }
                }
            },
            resolvePostalCode() {
                this.getPostalCode(this);
            },
            ...mapActions({
                loginUser     : 'login',
                getPostalCode : 'getPostalCode',
                registerUser  : 'register'
            }),
            submitLogin() {
                this.loginUser(this);
            },
            submitRegister() {
                this.registerUser(this);
            },
            updateDisplay     : function() {
                this.isDisplay = !this.isDisplay;
                this.$emit('change', this.isDisplay)
            },
            onCaptchaTokenChange(token) {
                this.register.token = token
            }
        },
        props   : {
            display : Boolean
        }
    }
</script>
<style scoped>
    .error-message {
        width: 100%;
    }
</style>