<template>
    <v-flex xs2 sm3 md3>
        <v-card flat>
            <v-navigation-drawer
                    :model="false"
                    permanent
            >
                <v-toolbar flat>
                    <v-list class="pa-0">
                        <v-list-tile avatar style="margin-left:-5px;">
                            <v-list-tile-avatar>
                                <img src="https://randomuser.me/api/portraits/men/3.jpg">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>{{user.firstname}} {{user.lastname}}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>
                <v-list class="pt-0" dense>
                    <v-list-tile
                            v-for="item in items"
                            :key="item.title"
                            :to="item.link"
                            exact
                            @click=""
                    >
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
                <v-divider v-if="user.role == 'admin'"></v-divider>
                <v-list class="pt-0" dense v-if="user.role == 'admin'">
                    <v-list-tile :to="{name: 'admin_dashboard'}">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Administration</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_products'}">
                        <v-list-tile-action>
                            <v-icon>shopping_cart</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Products</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_locations'}">
                        <v-list-tile-action>
                            <v-icon>local_offer</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Locations</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_orders'}">
                        <v-list-tile-action>
                            <v-icon>account_balance</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Orders</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_tickets'}">
                        <v-list-tile-action>
                            <v-icon>label</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Tickets</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_users'}">
                        <v-list-tile-action>
                            <v-icon>group</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Users</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="{name: 'admin_news'}">
                        <v-list-tile-action>
                            <v-icon>view_list</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>News</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
        </v-card>
    </v-flex>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name : "menu",
        data() {
            return {
                items      : [
                    {title : 'Tableau de bord', link: 'dashboard', icon : 'dashboard'},
                    {title : 'Serveurs', link: 'servers', icon : 'screen_share'},
                    {title : 'Editer', link: 'account', icon : 'person_pin'},
                    {title : 'Factures', link: 'bills', icon : 'history'},
                    {title : 'Tickets', link: 'tickets', icon : 'help'}
                ],
            }
        },
        computed: {
            ...mapGetters({
                user: 'profile'
            })
        },
        methods: {

        }
    }
</script>

<style scoped>

</style>