<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-card flat>
                    <v-toolbar flat class="transparent">
                        <v-toolbar-title>Cart</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom v-if="e1 == 1">
                            <v-btn slot="activator" flat @click="clearCart">
                                <v-icon>clear</v-icon>
                            </v-btn>
                            <span>Clear cart</span>
                        </v-tooltip>
                    </v-toolbar>
                </v-card>
                <v-stepper v-model="e1">
                    <v-stepper-header>
                        <v-stepper-step :complete="e1 > 1" step="1">Order summary</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step step="2">Billing infos</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step :complete="e1 > 2" step="3">Payment method</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step step="4">Server installation</v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1" style="padding:0;margin:0">
                            <v-data-table
                                    no-data-text="Cart empty..."
                                    :headers="headers"
                                    :items="items"
                                    item-key="props.item.id"
                                    hide-actions>
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <router-link class="table-link" :to="{name: 'game_view', params: {id: props.item.item.id}}">{{ props.item.item.name }}</router-link>
                                    </td>
                                    <td class="text-center">{{ props.item.item.period }} Month{{props.item.item.period>1?'s':''}}</td>
                                    <td class="text-center">{{ props.item.slots }}</td>
                                    <td class="text-center">{{ (props.item.item.slot_price * props.item.slots * props.item.item.period).toFixed(2) }} €</td>
                                    <td class="text-center">
                                        <v-btn flat @click="removeItem(props.item)">
                                            <v-icon>clear</v-icon>
                                        </v-btn>
                                    </td>
                                </template>
                                <template slot="footer">
                                    <td></td>
                                    <td></td>
                                    <td class="text-center">TOTAL</td>
                                    <td class="text-center"><h2>{{getCartTotal}}</h2></td>
                                    <td class="text-center">&nbsp;</td>
                                </template>
                            </v-data-table>
                            <v-tooltip top v-if="!user.email">
                                <v-btn
                                        slot="activator"
                                        :disabled="getCartNbItems <= 0"
                                        style="float:right;margin:13px 20px;"
                                        color="secondary"
                                >
                                    <v-icon>shopping_cart</v-icon>&nbsp;&nbsp;&nbsp;Checkout

                                </v-btn>
                                <span>Please connect to continue</span>
                            </v-tooltip>
                            <v-btn
                                    v-if="user.firstname"
                                    :disabled="getCartNbItems <= 0"
                                    style="float:right;margin:13px 20px;"
                                    color="primary"
                                    @click="goToStep2()"
                            >
                                <v-icon>shopping_cart</v-icon>&nbsp;&nbsp;&nbsp;Checkout

                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <h2 class="text-center" style="margin-bottom: 40px;">Billing Address</h2>
                            <v-layout wrap>
                                <v-flex lg2 offset-lg3>
                                    <v-text-field
                                            label="N°"
                                            v-model="user.road_number"
                                            @keyup.native="checkAddress"
                                            required>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg4>
                                    <v-text-field
                                            label="Rue"
                                            @keyup.native="checkAddress"
                                            v-model="user.road_name"
                                            required>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg3 offset-lg3>
                                    <v-text-field
                                            @click.native="resolvePostalCode()"
                                            label="Code Postal"
                                            v-model="user.postal_code"
                                            @keyup.native="resolvePostalCode()"
                                            required>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg3>
                                    <v-autocomplete
                                            label="Ville"
                                            v-model="user.city"
                                            :items="getCities"
                                            @keyup.native="checkAddress"
                                            required>
                                    </v-autocomplete>
                                </v-flex>
                                <v-flex lg6 offset-lg3>
                                    <v-autocomplete
                                            ref="country"
                                            :items="register.countries"
                                            v-model="user.country"
                                            @keyup.native="checkAddress"
                                            label="Pays"
                                            placeholder="Sélectionnez.."
                                            required
                                    ></v-autocomplete>
                                </v-flex>
                            </v-layout>
                            <v-btn
                                    style="float:right"
                                    color="primary"
                                    :disabled="!isAddressValid"
                                    @click="goToStep3()"
                            >
                                Continue
                                <v-icon>arrow_right</v-icon>
                            </v-btn>

                            <v-btn flat @click="e1 = 1">
                                <v-icon>arrow_left</v-icon>
                                Previous
                            </v-btn>
                        </v-stepper-content>
                        <v-stepper-content step="3">
                            <v-radio-group v-model="payment_method">
                                <v-radio label="Paypal" value="paypal"/>
                                <v-radio label="Credit card" value="credit_card" disabled/>
                            </v-radio-group>

                            <v-btn
                                    color="primary"
                                    style="float:right;margin:13px 20px;"
                                    @click="processPayment()"
                            >
                                <v-icon>shopping_cart</v-icon>&nbsp;&nbsp;&nbsp;Process Payment
                            </v-btn>

                            <v-btn flat @click="e1 -= 1">
                                <v-icon>arrow_left</v-icon>
                                Previous
                            </v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name     : "cart",
        created() {
            this.importCart();
            this.items = this.cart;
        },
        computed : {
            ...mapGetters({
                cart           : 'getCart',
                user           : 'profile',
                getCartTotal   : 'getCartTotal',
                getCartNbItems : 'getCartNbItems',
                getCities      : 'getCities'
            })
        },
        methods  : {
            ...mapActions({
                placeOrder     : 'placeOrder',
                getPostalCode  : 'getPostalCode',
                removeFromCart : 'removeFromCart',
                importCart     : 'importCart',
                resetCart      : 'resetCart'
            }),
            removeItem(id) {
                this.removeFromCart(id);
            },
            resolvePostalCode() {
                this.register.postal_code = this.user.postal_code;
                this.checkAddress();
                this.getPostalCode(this);
            },
            clearCart() {
                this.items = [];
                this.resetCart();
            },
            processPayment() {
                let items = [];
                this.cart.forEach(i => {
                    items.push({
                        id     : i.item.id,
                        period : i.item.period,
                        slots  : i.slots
                    });
                });
                this.placeOrder(items);
            },
            goToStep2() {
                if(typeof this.user.email != 'undefined') {
                    this.e1 = 2;
                    this.checkAddress();
                }
            },
            checkAddress() {
                if(this.user.road_number.length === 0
                    || this.user.road_name.length === 0
                    || this.user.postal_code.length === 0
                    || this.user.city.length === 0
                    || this.user.country.length === 0) {

                    this.isAddressValid = false;
                }
                else {
                    this.isAddressValid = true;
                }
            },
            goToStep3() {

                this.e1 = 3
            }
        },
        watch    : {
            cart(data) {
                this.items = data;
            },
            user(data) {
                this.register.postal_code = data.postal_code;
                this.getPostalCode(this);
            }
        },
        data() {
            return {
                e1             : 0,
                isAddressValid : false,
                payment_method : 'paypal',
                register       : {
                    email       : '',
                    lastname    : '',
                    firstname   : '',
                    road_number : '',
                    road_name   : '',
                    city        : '',
                    postal_code : '',
                    country     : '',
                    countries   : ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia & Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Cayman Islands', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D Ivoire', 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'French West Indies', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyz Republic', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Pierre & Miquelon', 'Samoa', 'San Marino', 'Satellite', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St Kitts & Nevis', 'St Lucia', 'St Vincent', 'St. Lucia', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', "Timor L'Este", 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks & Caicos', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands (US)', 'Yemen', 'Zambia', 'Zimbabwe'],

                },
                headers        : [
                    {align : 'left', sortable : true, text : 'Name', value : 'name'},
                    {align : 'center', sortable : true, width : '10%', text : 'Period', value : 'period'},
                    {align : 'center', sortable : true, width : '2%', text : 'Slots', value : 'slots'},
                    {align : 'center', sortable : true, width : '15%', text : 'Price', value : 'price'},
                    {align : 'center', sortable : true, width : '2%', text : ' ', value : 'price'}
                ],
                items          : []
            }
        },
        filters  : {
            cover : (url) => {
                let isProd = process.env.NODE_ENV == 'production';
                return 'http://' + (isProd ? 'zebooster.fr' : 'localhost:5005') + '/covers/' + url;
            },
        }
    }
</script>
<style scoped>
    .table-link {
        text-decoration: none;
    }
</style>