<template>
    <v-container grid-list-xl >
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-card flat>
                    <v-toolbar flat class="transparent">
                        <v-toolbar-title>Games</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field
                                style="margin-top: 10px; max-width:300px"
                                append-icon="search"
                                v-model="searchStr"
                                placeholder="Search..."
                                @keyup.native="searchEvent"
                                single-line
                        ></v-text-field>
                    </v-toolbar>
                </v-card>
                <v-layout row wrap>
                    <v-flex xs12 sm6 md4 lg4 v-for="product in items">
                        <v-card class="game-image" :to="{name: 'game_view', params:{id: product.id}}">
                            <v-card-media
                                :src="product.image | image"
                                height="250px"
                            ></v-card-media>
                            <v-card-title>
                                {{product.name}}
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name : "game-listing",
    data() {
        return {
            items: [],
            searchStr: ''
        }
    },
    created() {
        this.setProducts();
    },
    methods: {
        ...mapActions({
            setProducts: 'setProducts'
        }),
        searchEvent() {
            this.items = this.searchProduct(this.searchStr)
        }
    },
    watch: {
        products(val) {
            this.items = this.searchProduct(this.searchStr)
        }
    },
    computed: {
        ...mapGetters({
            products: 'getProducts',
            searchProduct: 'searchProduct'
        })
    },
    filters: {
        image: (url) => {
            let isProd = process.env.NODE_ENV == 'production';
            return 'http://' + (isProd ? 'zebooster.fr' : 'localhost:5005') + '/games/'+url;
        }
    }
}
</script>
<style scoped>
    .game-image:hover {
        opacity: 0.5;
        transition: 0.3s opacity;
    }
</style>
