<template>
    <div>
        <section v-if="product">
            <v-parallax :src="product.background | background" height="380" class="blur"></v-parallax>
            <v-container grid-list-xl >
                <v-layout row wrap>
                    <v-flex xs12 lg2 offset-lg2 class="game-image-col">
                        <v-card class="game-image">
                            <v-card-media :src="product.cover | cover" height="350px"></v-card-media>
                        </v-card>
                        <v-select :items="prices" item-text="text" item-value="slots" v-model="slots"></v-select>
                        <v-select :items="getPeriods" item-text="text" item-value="slots" v-model="period"></v-select>
                        <v-btn @click.native="addProduct" color="blue" style="margin-left: 0; width:100%"><v-icon>shopping_cart</v-icon>&nbsp;&nbsp;Add to cart</v-btn>
                    </v-flex>
                    <v-flex xs12 lg6 class="game-description-col">
                        <v-card flat >
                            <v-card-title>
                                <h1 style="font-size:48px">{{product.name}}</h1>
                            </v-card-title>
                        </v-card>
                        <v-tabs style="margin-top: 0" v-model="tab" align-with-title>
                            <v-tabs-slider color="blue"></v-tabs-slider>
                            <v-tab v-for="item in items" :key="item.title">
                                {{item.title}}
                            </v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="tab">
                            <v-tab-item v-for="item in items" :key="item.title" v-if="item.title == 'Description'">
                                <v-card flat>
                                    <v-card-text>{{ product.description }}</v-card-text>
                                </v-card>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-flex>
                </v-layout>
                <v-layout row wrap style="margin-top: 30px">
                    <v-flex v-for="item in shopItems" xs12 lg3 :key="item.id" v-if="item">
                        <v-card class="game-image" :to="{name: 'game_view', params:{id: item.id}}" v-if="item">
                            <v-card-media :src="item.image | image" height="180px"></v-card-media>
                            <v-card-title>{{item.name}}</v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
        <section v-if="!product">
            <h1 class="text-center" style="margin:200px;font-size: 36px;">Error 404:<br> Product not found</h1>
        </section>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name : "game",
        data() {
            return {
                slots: 0,
                period: '1 Mois',
                tab: null,
                prices: [],
                items: [
                    {title: 'Description'}
                ]
            }
        },
        created() {
            this.setProduct(this.$route.params.id);
            this.setProducts();
        },
        watch: {
            '$route.params.id': function(id) {
                this.setProduct(id);
                this.setProducts();
            },
            product(data) {
                this.prices = [];
                this.slots = 0;
                this.period = '1 Mois';

                for(let i = data.interval_min; i <= data.interval_max; i += data.interval) {
                    let price = (data.slot_price * i).toFixed(2);
                    let text = i + ' players - '+ price + ' €';
                    this.prices.push({text:  text, slots: i});
                    if(i == data.interval_min) {
                        this.slots = i;
                    }
                }
            }
        },
        methods: {
            ...mapActions({
                addToCart: 'addToCart',
                setProducts: 'setProducts',
                setProduct: 'setProduct'
            }),
            addProduct() {
                this.addToCart({
                    item: {
                        name: this.product.name,
                        slot_price: this.product.slot_price,
                        id: this.product.id,
                        period: parseInt(this.period.split(' ')[0])
                    },
                    slots: this.slots
                })
            },
            pad(n) {
                if(n < 10)
                    return '0' + String(n);
                else return n;
            }
        },
        computed: {
            ...mapGetters({
                product: 'getProduct',
                shopItems: 'getRandomProducts'
            }),
            getPeriods() {
                let periods = [];
                for(let i = 1; i < 13; i++) periods.push(i + ' Mois');
                return periods;
            }
        },
        filters: {
            image: (url) => {
                if(typeof url != 'undefined') {
                    let isProd = process.env.NODE_ENV == 'production';
                    return 'http://' + (isProd ? 'zebooster.fr' : 'localhost:5005') + '/games/'+url;
                }
            },
            cover: (url) => {
                if(typeof url != 'undefined') {
                    let isProd = process.env.NODE_ENV == 'production';
                    return 'http://' + (isProd ? 'zebooster.fr' : 'localhost:5005') + '/covers/' + url;
                }
            },
            background: (url) => {
                if(typeof url != 'undefined') {
                    let isProd = process.env.NODE_ENV == 'production';
                    return 'http://' + (isProd ? 'zebooster.fr' : 'localhost:5005') + '/backgrounds/' + url;
                }
            }
        }
    }
</script>
<style scoped>
    .blur {
        /*-webkit-filter: blur(2px);*/
        /*-moz-filter: blur(2px);*/
        /*-o-filter: blur(2px);*/
        /*-ms-filter: blur(2px);*/
        /*filter: blur(2px);*/
    }
</style>