<template>
    <v-container grid-list-xl >
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu></user-menu>
                    <v-flex xs10 sm9 md10>
                        <v-card flat>
                            <v-toolbar flat>
                                <v-toolbar-title>Administration</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                        <v-divider></v-divider>
                        <v-layout row wrap>
                            <v-flex xs4>
                                <v-card color="blue-grey darken-2" class="white--text">
                                    <v-card-title primary-title>
                                        <div class="headline">Income</div>
                                        <div>Listen to your favorite artists and albums whenever and wherever, online and offline.</div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn flat dark>Listen now</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card color="blue-grey darken-2" class="white--text">
                                    <v-card-title primary-title>
                                        <div class="headline">Visits</div>
                                        <div>Listen to your favorite artists and albums whenever and wherever, online and offline.</div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn flat dark>Listen now</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card color="blue-grey darken-2" class="white--text">
                                    <v-card-title primary-title>
                                        <div class="headline">Members</div>
                                        <div>Listen to your favorite artists and albums whenever and wherever, online and offline.</div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn flat dark>Listen now</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                        </v-layout>

                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import UserMenu from '../users/Menu'
    export default {
        name : "dashboard",
        components: {
            UserMenu
        }
    }
</script>
<style scoped>
</style>