.contentMt {
    margin-top: 48px;
}

.text-center {
    text-align: center;
}

.application .theme--dark.v-card, .theme--dark .v-card {
    background-color: rgba(66, 66, 66, 0.8);
}

.game-image-col {
    margin-top: -200px
}
.game-description-col {
    margin-top: -127px
}
@media screen and (max-width: 768px){
    .game-image-col {
        margin-top: -380px;
    }
    .game-description-col {
        margin-top: 0
    }
}

@media screen and (max-width: 1280px){
    .game-image-col {
        margin-top: -380px;
    }
    .game-description-col {
        margin-top: 1px
    }
}