<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu/>
                    <v-flex xs10 sm9 md10>
                        <v-toolbar dark flat>
                            <v-toolbar-title>Products Management</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <v-btn slot="activator" color="primary" dark class="mb-2">Add product</v-btn>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ (typeof editedItem.id != 'undefined' ? 'Edit' : 'Add') + ' product' }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container grid-list-md>
                                            <v-layout wrap>
                                                <v-flex xs12>
                                                    <v-text-field v-model="editedItem.name" label="Product name" required></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md3>
                                                    <v-text-field type="number" v-model="editedItem.slot_price" label="Slot price" required></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md3>
                                                    <v-text-field type="number" v-model="editedItem.interval" label="Interval" required></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md3>
                                                    <v-text-field type="number" v-model="editedItem.interval_min" label="Interval min" required></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6 md3>
                                                    <v-text-field type="number" v-model="editedItem.interval_max" label="Interval max" required></v-text-field>
                                                </v-flex>
                                                <v-flex xs12>
                                                    <v-textarea v-model="editedItem.description" label="Description" required></v-textarea>
                                                </v-flex>
                                                <v-flex xs12 sm6 md3>
                                                    <v-checkbox label="Active" v-model="editedItem.active" ></v-checkbox>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                        <v-data-table
                                :rows-per-page-items="[15, {'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
                                v-model="selected"
                                :headers="headers"
                                :items="items"
                                :pagination.sync="pagination"
                                select-all
                                item-key="name"
                                class="elevation-1"
                        >
                            <template slot="headers" slot-scope="props">
                                <tr>
                                    <th>
                                        <v-checkbox
                                                :input-value="props.all"
                                                :indeterminate="props.indeterminate"
                                                primary
                                                hide-details
                                                @click.native="toggleAll"
                                        ></v-checkbox>
                                    </th>
                                    <th
                                            v-for="header in props.headers"
                                            :key="header.text"
                                            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                                            @click="changeSort(header.value)"
                                    >
                                        <v-icon small>arrow_upward</v-icon>
                                        {{ header.text }}
                                    </th>
                                </tr>
                            </template>
                            <template slot="items" slot-scope="props">
                                <tr :active="props.selected" @click="props.selected = !props.selected">
                                    <td>
                                        <v-checkbox
                                                :input-value="props.selected"
                                                primary
                                                hide-details
                                        ></v-checkbox>
                                    </td>
                                    <td><router-link target="_blank" :to="{name: 'game_view', params: {id: props.item.id}}">{{ props.item.name }}</router-link></td>
                                    <td class="text-xs-right">{{ props.item.slot_price }}</td>
                                    <td class="text-xs-center">
                                        <v-chip small color="primary" text-color="white" v-if="props.item.active === true">Active</v-chip>
                                        <v-chip small v-if="props.item.active === false">Inactive</v-chip>
                                    </td>
                                    <td class="justify-center">
                                        <v-icon
                                                small
                                                class="mr-2"
                                                @click="editItem(props.item)"
                                        >
                                            edit
                                        </v-icon>
                                        <v-icon
                                                small
                                                @click="deleteItem(props.item)"
                                        >
                                            delete
                                        </v-icon>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import UserMenu from '../../users/Menu'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name       : "servers",
        created() {
            this.setAdminProducts();
            this.changeSort('active');
            this.pagination.descending = true;
        },
        components : {
            UserMenu
        },
        data       : () => ({
            dialog      : false,
            pagination  : {
                sortBy : 'name'
            },
            selected    : [],
            headers     : [
                {text : 'Name', value : 'name', width : '80%'},
                {text : 'Slot price', value : 'slot_price', width : '2%'},
                {text : 'Status', value : 'active'},
                {text : '', value : 'actions', sortable : false}
            ],
            items       : [],
            formTitle   : 'Add product',
            editedIndex : -1,
            editedItem  : {
                id           : null,
                name         : '',
                description  : '',
                slot_price   : 0,
                interval     : 0,
                interval_min : 0,
                interval_max : 0,
                active       : false
            },
            defaultItem : {
                name         : '',
                description  : '',
                slot_price   : 0,
                interval     : 0,
                interval_min : 0,
                interval_max : 0,
                active       : false
            }
        }),
        computed   : {
            ...mapGetters({
                products : 'getAdminProducts'
            })
        },
        watch      : {
            dialog(val) {
                if(val) {
                    this.formTitle = 'Add product';
                }
                else {
                    this.close()
                }
            },
            products(data) {
                this.items = data;
            }
        },
        methods    : {
            ...mapActions({
                setAdminProducts   : 'setAdminProducts',
                removeAdminProduct : 'removeAdminProduct',
                updateAdminProduct : 'updateAdminProduct',
                addAdminProduct : 'addAdminProduct'
            }),
            toggleAll() {
                if(this.selected.length) this.selected = [];
                else this.selected = this.items.slice()
            },
            changeSort(column) {
                if(this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending
                }
                else {
                    this.pagination.sortBy     = column
                    this.pagination.descending = false
                }
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem  = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },
            save() {
                if(this.editedIndex > -1) {
                    this.updateAdminProduct(this.editedItem)
                }
                else {
                    this.addAdminProduct(this.editedItem)
                }
                this.close()
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem  = Object.assign({}, item);
                this.dialog      = true
            },
            deleteItem(item) {
                if(confirm('Are you sure you want to delete this item?')) {
                    this.removeAdminProduct(item.id);
                    this.items.splice(this.items.indexOf(item), 1);
                }
            }
        }
    }
</script>

<style scoped>

</style>