<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons" rel="stylesheet">
    <title>KisocsGames</title>

    <style>
      #connections
      {
        position: absolute;
        width: 100%; height: 100%;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index:0;
      }
    </style>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but public doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <canvas id="connections" class="hidden-md-and-down"></canvas>
    <div id="app"></div>
    <script src="./connections.js"></script>
    <!-- built files will be auto injected -->
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>
  </body>
</html>
