<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%page_name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/css/app.css">
    <link rel="stylesheet" href="src/css/theme.css">
</head>
<body>
