<template>
    <transition name="fade">
        <div class="backToTop hidden-xs hidden-sm" @click="scroll()" v-show="visible">
            <i class="fa fa-chevron-up"></i>&nbsp;&nbsp;&nbsp;{{text}}
        </div>
    </transition>
</template>
<style>
.backToTop {
    padding: 5px 3px;
    color: #818181;
    position: fixed;
    top: 67px;
    left: 17px;
    cursor: pointer;
}
</style>
<script>
export default {
    name: 'BackToTop',
    data() {
        return {
            visible: false
        }
    },
    props: {
        text: {
            type: String,
            default: 'Back to top'
        },
        duration: {
            type: Number,
            default: 1000
        },
        offset: {
            type: Number,
            default: 100
        }
    },
    created() {
        window.onscroll = _ => {
            this.visible = window.scrollY > this.offset;
        };
    },
    methods: {
        scroll() {
            let
            i   = 0,
            duration = this.duration,
            cos = window.scrollY * .5,
            old = performance.now();

            function step (now) {
                i += Math.PI / (duration / (now - old));
                if (i >= Math.PI) window.scrollTo(0, 0);
                if (window.scrollY === 0) return;
                window.scrollTo(0, Math.round(cos + cos * Math.cos(i)));
                old = now;
                window.requestAnimationFrame(step);
            }
            window.requestAnimationFrame(step);
        }
    }
}
</script>
