<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu/>
                    <v-flex xs10 sm9 md10>
                        <v-toolbar dark flat>
                            <v-toolbar-title>News</v-toolbar-title>
                        </v-toolbar>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import UserMenu from '../../users/Menu'
    export default {
        name : "news_index",
        components : {
            UserMenu
        }
    }
</script>
