<template>
    <v-app dark>
        <navbar></navbar>
        <router-view></router-view>
        <footerBar></footerBar>
    </v-app>
</template>
<script>
import Navbar from './components/partials/navbar'
import FooterBar from './components/partials/footer'
import api from './api/front/users'
import {mapActions} from 'vuex'
export default {
    name : 'App',
    metaInfo: {
        title : 'KisocsGames'
    },
    created() {
        api.checkAuth(this.$store, _=>
        {
            this.importCart();

        });
    },
    methods: {
        ...mapActions({
            importCart: 'importCart'
        })
    },
    data() {
        return {
            title       : 'KisocsGames',
            slogan      : 'OMG THIS IS AWESOME',
            subslogan   : 'This is the subslogan'
        }
    },
    components: {
        Navbar,
        FooterBar
    }
}
</script>
