<template>
    <v-footer
        dark
        height="auto"
>
    <v-card
            flat
            tile
            width="100%"
            class="grey darken-4 white--text text-xs-center"
    >
        <v-card-text>
            <!--<v-btn-->
                    <!--v-for="icon in icons"-->
                    <!--:key="icon"-->
                    <!--class="mx-3 white&#45;&#45;text"-->
                    <!--icon-->
            <!--&gt;-->
                <!--<v-icon size="24px">{{ icon }}</v-icon>-->
            <!--</v-btn>-->
        </v-card-text>

        <v-card-text class="white--text pt-0">

        </v-card-text>
        <v-card-text class="grey--text">
            &copy;{{(new Date().getFullYear())}} — &copy; All rights reserved — <strong>KisocsGames</strong>
        </v-card-text>
    </v-card>
</v-footer>
</template>
<script>
    export default {
        name : "footer",
        data() {
            return {
                icons: [
                    'facebook',
                    'twitter',
                    'google-plus',
                    'fab fa-linkedin',
                    'fab fa-instagram'
                ]
            }
        }
    }
</script>
