<template>
    <div>
        <v-navigation-drawer
                clipped
                style="margin-top:48px"
                class="hidden-md-and-up"
                fixed
                v-model="drawer">
            <v-list dense>
                <v-list-tile v-for="item in items" :key="item.title" :to="item.link">
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ item.title }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-card flat>
            <v-layout row >
                <v-flex xs12 lg8 offset-lg2>
                    <v-card class="card--flex-toolbar" flat>
                        <v-toolbar card prominent class="transparent">
                            <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
                            <router-link class="siteTitle" :to="{path: '/'}">
                                <img src="@/assets/logo.png" style="margin-top: 8px" height="32px">
                                <v-toolbar-title class="hidden-sm-and-down siteTitleText" v-text="title"/>
                            </router-link>
                            <v-toolbar-items class="hidden-sm-and-down">
                                <v-btn flat v-for="item in items" :key="item.title" :to="{name: item.link}">
                                    {{item.title}}
                                </v-btn>
                            </v-toolbar-items>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn flat :to="{name: 'cart'}" >
                                    <v-badge left>
                                        <span slot="badge">{{getCartNbItems}}</span>
                                        <v-icon
                                                large
                                                color="grey lighten-1"
                                        >
                                            shopping_cart
                                        </v-icon>
                                    </v-badge>
                                </v-btn>
                                <v-btn flat @click="updateDialog" v-if="!user.email">Connexion</v-btn>
                                <v-btn flat :to="{name: 'dashboard'}" v-if="user.firstname">{{user.firstname}}</v-btn>
                                <v-btn flat :to="{name: 'dashboard'}" v-if="!user.firstname && user.email">{{user.email}}</v-btn>
                                <v-btn flat @click.stop="logout()" v-if="user.email"><v-icon>exit_to_app</v-icon></v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-card>
        <loginModal v-model="dialog" v-on:change="updateDialog"/>
    </div>
</template>
<script>
import LoginModal from '../users/LoginModal.vue'
import {mapGetters, mapActions} from 'vuex'

export default {
    name       : "navbar",
    data() {
        return {
            title  : "KisocsGames",
            items  : [
                {
                    title : 'Jeux',
                    link  : "games"
                },
                {
                    title : "News",
                    link  : "news"
                },
                {
                    title : "Support",
                    link  : "support"
                }
            ],
            drawer : false,
            dialog : false
        }
    },
    methods: {
        ...mapActions({
            logoutUser: 'logout'
        }),
        logout() {
            this.logoutUser();
            this.$router.replace("/");
        },
        updateDialog() {
            this.dialog = !this.dialog;
        }
    },
    computed: {
        ...mapGetters({
            user: 'profile',
            getCartNbItems: 'getCartNbItems'
        })
    },
    components : {
        LoginModal
    }
}
</script>
<style scoped>
    .siteTitle {
        text-decoration: none;
        color: white
    }
        .siteTitleText {
            margin-right: 15px;
            display:inline-block
        }
</style>