<template>
    <div class="ibox card float-e-margins">
        <div class="ibox-title">
            <slot name="title">
                <h5>Header</h5>
            </slot>
            <slot name="tools" v-if="toolbox">
                <div class="ibox-tools dropdown">
                    <a href="#" @click.prevent="">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="#" @click.prevent="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul href="#" @click.prevent="" class="dropdown-menu">
                        <li><a href="#" @click.prevent="">Config option 1</a></li>
                        <li><a href="#" @click.prevent="">Config option 2</a></li>
                    </ul>
                    <a href="#" @click.prevent=""><i class="fa fa-times"></i></a>
                </div>
            </slot>
        </div>
        <div class="ibox-content">
            <slot name="content"></slot>
        </div>
    </div>
</template>
<script type="text/babel">
export default{
    props: {
        toolbox: {
            type: Boolean,
            default: true
        }
    }
}
</script>