<template>
    <v-container grid-list-xl >
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-xs2>
                <v-card flat>
                    <v-toolbar flat class="transparent">
                        <v-toolbar-title>Support</v-toolbar-title>
                    </v-toolbar>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>

export default {
    name : "support"
}
</script>
