.lightbox {
  position: fixed;
  z-index:99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  background-color: rgba(#000, 0.9);
}

.lightbox__image {
  position: fixed;
}

.lightbox__close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url('../../../assets/cross.svg') transparent no-repeat;
  background-size: 25px 25px;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2)
  }
}

.lightbox__btn {
  position: fixed;
  top: 50%;
  width: 47px;
  height: 90px;
  margin-top: -40px;
  background-color: #eee;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2)
  }
}

.lightbox__next {
  right: 20px;
  background: url('../../../assets/right.svg')
}

.lightbox__prev {
  left: 20px;
  background: url('../../../assets/left.svg')
}
