<template>
    <div class="lightbox" v-if="image" @click="close">
        <transition name="fade">
            <lightbox-image :image="image" :key="image"></lightbox-image>
        </transition>
        <div class="lightbox__close" @click="close"></div>
        <div class="lightbox__btn lightbox__next" @click.stop.prevent="next"></div>
        <div class="lightbox__btn lightbox__prev" @click.stop.prevent="prev"></div>
    </div>
</template>
<style src="./Lightbox.scss" lang="sass"></style>
<script>
import './Lightbox'
import store from './LightboxStore'
import lightboxImage from './Lightbox-image.vue'
export default
{
    components: {
        lightboxImage
    },
    data() {
        return {
            state: store.state
        }
    },
    methods: {
        prev()  { store.prev() },
        next()  { store.next() },
        close() {store.close();}
    },
    computed: {
        image() {
            if(this.state.index !== false)
                return this.state.images[this.state.index]
        }
    }
}
</script>
