<template>
    <v-container grid-list-xl >
        <v-layout row wrap>
            <v-flex xs12 lg8 offset-lg2>
                <v-layout row fill-height>
                    <user-menu></user-menu>
                    <v-flex xs10 sm9 md10>
                        <v-card flat>
                            <v-toolbar flat>
                                <v-toolbar-title>Dashboard</v-toolbar-title>
                            </v-toolbar>
                        </v-card>
                        <v-layout row wrap>
                            <v-flex xs12 lg4 p-0>
                                <income-stats></income-stats>
                            </v-flex>
                            <v-flex xs12 lg4 p-0>
                                <visits-stats></visits-stats>
                            </v-flex>
                            <v-flex xs12 lg4 p-0>
                                <members-stats></members-stats>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12 lg4 p-0>
                                <income-graph></income-graph>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
    <!--<div class="wrapper wrapper-content">-->
        <!--<h1 class="page-header">Dashboard</h1>-->
        <!--<div class="row">-->
            <!--<income-stats></income-stats>-->
            <!--<visits-stats></visits-stats>-->
            <!--<members-stats></members-stats>-->
            <!--<medias-stats></medias-stats>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<income-graph></income-graph>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<last-users></last-users>-->
            <!--<last-transactions></last-transactions>-->
            <!--<last-posts></last-posts>-->
        <!--</div>-->
    <!--</div>-->
<script>
import {mapGetters, mapActions} from 'vuex'

import MembersStats     from './Widgets/MembersStats.vue'
import VisitsStats      from './Widgets/VisitsStats.vue'
import IncomeStats      from './Widgets/IncomeStats.vue'
import MediasStats      from './Widgets/MediasStats.vue'
import IncomeGraph      from './Widgets/IncomeGraph.vue'
import LastUsers        from './Widgets/LastUsers.vue'
import LastTransactions from './Widgets/LastTransactions.vue'
import LastPosts        from './Widgets/LastPosts.vue'
import UserMenu         from '../../users/Menu.vue'

export default {
    name: 'Home',
    created() {
        this.$store.dispatch('setStats', this);
    },
    components: {
        UserMenu,
        MembersStats,
        VisitsStats,
        IncomeStats,
        IncomeGraph,
        LastUsers,
        LastTransactions,
        LastPosts,
        MediasStats
    }
}
</script>
