<template>
    <div class="col-lg-12">
        <div class="ibox card float-e-margins">
            <div class="ibox-title">
                <router-link :to="{name: 'payments_admin'}" tag="h5"><a>Transactions</a></router-link>
                <div class="pull-right">
                    <div class="btn-group">
                        <button
                            @click.prevent="currentPeriod = index;loadGraph()"
                            v-for="(period, index) in periods"
                            type="button"
                            class="btn btn-xs btn-white" :class="{active: index == currentPeriod}">
                            {{period}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9">
                        <line-chart
                            class="noselect"
                            :chartData="graphData"
                            :options="graphOptions"
                            :height="250">
                        </line-chart>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li>
                                <h2 class="no-margins">{{stats.nbTransactions}}</h2>
                                <small>Total transactions in period</small>
                                <div class="stat-percent">
                                    {{stats.evNbTransactions}}% <i class="fa fa-level-up text-navy"></i>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">{{stats.nbTransactionsLastMonth}}</h2>
                                <small>Transactions in last month</small>
                                <div class="stat-percent">
                                    {{stats.evNbTransactionsLastMonth}}% <i class="fa fa-level-down text-navy"></i>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
import LineChart from '../../../App/Charts/LineChart'
import {mapGetters, mapActions} from 'vuex'
import Vue from 'vue'
import moment from 'moment'
export default {
    name: 'IncomeGraph',
    data() {
        return {
            currentPeriod: 2,
            periods: [
                'Today',
                'Monthly',
                'Annual'
            ],
            payments: [],
            graphData: {},
            graphOptions: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return value + ' €';
                            }
                        }
                    }]
                },
                tooltips: {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function(item, data) {
                            return item.yLabel + ' €';
                        }
                    }
                },
            }
        }
    },
    created() {
        this.graphData = {
            labels: [
                'January', 'February', 'March', 'April',
                'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'
            ],
            datasets: [
                {
                    label: 'Transactions',
                    backgroundColor: 'rgba(26, 179, 148, 1)',
                    data: []
                }
            ]
        }
    },
    watch: {
        AdminPayments: function(payments) {
            this.payments = payments;
            this.loadGraph();
        }
    },
    methods: {
        loadGraph() {
            this.graphData = {
                labels: this.payments.map(p => this.formatLabel(p.createdAt)),
                datasets: [
                    {
                        label: 'Transactions',
                        backgroundColor: 'rgba(26, 179, 148, 1)',
                        data: this.payments.map(p => p.amount)
                    }
                ]
            }
        },
        formatLabel(date) {
            let str = '';
            switch(this.currentPeriod) {
                case 0: str = 'HH:mm'; break;
                case 1: str = 'DD MMM'; break;
                case 2: str = 'DD MMM YYYY'; break;
            }
            return moment(date).format(str);
        }
    },
    computed: {
        ...mapGetters({
            AdminPayments: 'AdminPayments',
            stats: 'AdminStats'
        })
    },
    components: {
        LineChart
    }
}
</script>