<template>
    <v-card>
        <v-card-title primary-title>
            div<br>aze
        </v-card-title>
        <v-card-actions>
            <v-btn flat dark></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script type="text/babel">
import {mapGetters} from 'vuex'
export default{
    name: 'IncomeStats',
    data() {
        return {
            options: {

            }
        }
    },
    computed: {
        ...mapGetters({

        })
    }
}
</script>