<template>
    <div class="col-lg-4">
        <div class="ibox card float-e-margins">
            <div class="ibox-title">
                <router-link :to="{name: 'payments_admin'}" tag="h5"><a>Last transactions</a></router-link>
                <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" uib-dropdown="">
                    <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul uib-dropdown-menu="" class="dropdown-menu">
                        <li><a href="">Config option 1</a>
                        </li>
                        <li><a href="">Config option 2</a>
                        </li>
                    </ul>
                    <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                </div></div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th style="width:10%">Status</th>
                        <th style="width:55%">Type</th>
                        <th style="width:5%"class="text-center">Amount</th>
                        <th style="width:20%" class="text-right">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="payment in getLastAdminPayments">
                        <td>
                             <span class="label" :class="{
                                'label-primary': payment.status == 'approved'
                             }">
                                {{payment.status}}
                            </span>
                        </td>
                        <td>{{payment.description}}</td>
                        <td class="text-center" style="font-size: 14px;">
                            <span style="font-weight:500;">{{payment.amount}}&nbsp;€</span>
                        </td>
                        <td class="text-muted text-right">
                            <timeago :since="payment.createdAt" :auto-update="1" locale="custom"></timeago>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'
    export default{
        name: 'LastTransactions',
        data(){
            return {}
        },
        created() {
            this.page = 1;
            this.$store.dispatch('setPayments', this);
        },
        computed: mapGetters({
            getLastAdminPayments: 'getLastAdminPayments'
        }),
    }
</script>