<template>
    <div class="col-lg-4">
        <div class="ibox card float-e-margins">
            <div class="ibox-title">
                <router-link :to="{name: 'posts_admin'}" tag="h5"><a>Last posts</a></router-link>
                <div ibox-tools="" class="ng-scope">
                    <div class="ibox-tools dropdown" uib-dropdown="">
                        <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                        <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul uib-dropdown-menu="" class="dropdown-menu">
                            <li><a href="">Config option 1</a>
                            </li>
                            <li><a href="">Config option 2</a>
                            </li>
                        </ul>
                        <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="ibox-content no-padding">
                <ul class="list-group" style="max-height: 200px;overflow-y: scroll">
                    <li class="list-group-item" v-for="post in getLastAdminPost">
                        <p>
                            <a class="text-info" href="">@{{post.user.firstname}} {{post.user.lastname}}</a>
                            <small class="pull-right text-muted">
                                <timeago :since="post.createdAt" :auto-update="1" locale="custom"></timeago>
                            </small>
                        </p>
                        {{post.content}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
import {mapGetters, mapActions} from 'vuex'
export default{
    name: 'LastMessages',
    sockets: {
        onNewPost: function(post) {
            this.prependAdminPost(post)
        }
    },
    data() {
        return {
            data: {},
            since: null,
            loading: false
        }
    },
    created() {
        this.setAdminPosts(this);
    },
    methods: {
        ...mapActions({
            setAdminPosts: 'setAdminPosts',
            prependAdminPost: 'prependAdminPost'
        })
    },
    computed: {
        ...mapGetters({
            getLastAdminPost: 'getLastAdminPost'
        })
    }
}
</script>