<template>
    <div class="col-lg-4">
        <div class="ibox card float-e-margins">
            <div class="ibox-title">
                <router-link :to="{name: 'users_admin'}" tag="h5"><a>Last users</a></router-link>
                <div class="ibox-tools dropdown">
                    <a href="#" @click.prevent=""> <i class="fa fa-chevron-up"></i></a>
                    <a href="#" @click.prevent="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul href="#" @click.prevent="" class="dropdown-menu">
                        <li><a href="#" @click.prevent="">Config option 1</a></li>
                        <li><a href="#" @click.prevent="">Config option 2</a></li>
                    </ul>
                    <a href="#" @click.prevent=""><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th style="width:10%">Status</th>
                        <th>User</th>
                        <th style="width:20%">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users">
                        <td>
                             <span class="label" :class="getUserStatus(user).class">
                               {{getUserStatus(user).text}}
                            </span>
                        </td>
                        <td>
                            <a href="#" @click.prevent="">{{user.firstname}}&nbsp;{{user.lastname}}</a>
                        </td>
                        <td class="text-right text-muted">
                            <timeago :since="user.createdAt" :auto-update="1" locale="custom"></timeago>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'
    export default{
        name: 'LastUsers',
        data(){
            return {}
        },
        created() {
            this.page = 1;
            this.$store.dispatch('setUsers', this);
        },
        methods: {
            getUserStatus(user) {
                if(user.activatedAt)
                    return {text: 'Activated', class:'label-primary'};
                else if(user.ban)
                    return {text: 'Banned', class: 'label-important'};
                else
                    return {text: 'Pending', class: 'label-warning'};
            }
        },
        computed: mapGetters({
            user: 'AdminUser',
            users: 'AdminUsers'
        }),
    }
</script>