<template>
    <div class="col-lg-3">
        <panel-stats :options="options"></panel-stats>
    </div>
</template>
<script type="text/babel">
import {mapGetters} from 'vuex'
import PanelStats from '../../../App/Panel/PanelStats.vue'
export default{
    name: 'MediasStats',
    data() {
        return {
            options: {
                title: 'Medias',
                label: 'Monthly',
                klass: 'success',
                titleUrl: 'medias_admin',
                linkedTitle: true,
                value: 0,
                showEvolution: true,
                foreignSymbol: '',
                evolution: 0,
                toolbox: false,
                contentText: 'Total pictures'
            }
        }
    },
    watch: {
        stats: function() {
            this.options.value = this.stats.nbMedias || 0;
            this.options.evolution = this.stats.evMedias || 0;
        }
    },
    computed: {
        ...mapGetters({
            stats: 'AdminStats'
        })
    },
    components: {
        PanelStats
    }
}
</script>