<template>
    <v-card>
        <v-card-title primary-title>
            div<br>aze
        </v-card-title>
        <v-card-actions>
            <v-btn flat dark></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script type="text/babel">
import {mapGetters} from 'vuex'
import PanelStats from '../../../App/Panel/PanelStats.vue'

export default{
    name: 'MembersStats',
    data() {
        return {
            options: {
                title: 'Users',
                label: 'Today',
                klass: 'primary',
                titleUrl: 'users_admin',
                linkedTitle: true,
                value: 0,
                showEvolution: true,
                foreignSymbol: '',
                evolution: 0,
                toolbox: false,
                contentText: 'Users registered'
            }
        }
    },
    watch: {
        stats: function() {
            this.options.value = this.stats.nbUsers || 0;
            this.options.evolution = this.stats.evUsers || 0;
        }
    },
    computed: {
        ...mapGetters({
            stats: 'AdminStats'
        })
    },
    components: {
        PanelStats
    }
}
</script>