<template>
    <v-card>
        <v-card-title primary-title>
            Visits stats<br>aze
        </v-card-title>
        <v-card-actions>
            <v-btn flat dark></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script type="text/babel">
import {mapGetters} from 'vuex'
import PanelStats from '../../../App/Panel/PanelStats.vue'

export default{
    name: 'VisitsStats',
    data() {
        return {
            options: {
                title: 'Visits',
                label: 'Monthly',
                klass: 'success',
                titleUrl: 'visits_admin',
                linkedTitle: true,
                value: 0,
                showEvolution: true,
                foreignSymbol: '',
                evolution: 0,
                toolbox: false,
                contentText: 'New visits'
            }
        }
    },
    watch: {
        stats: function() {
            this.options.value = this.stats.nbVisits || 0;
            this.options.evolution = 0;
        }
    },
    computed: {
        ...mapGetters({
            stats: 'AdminStats'
        })
    },
    components: {
        PanelStats
    }
}
</script>